logs
*.log
npm-debug.log*

pids
*.pid
*.seed

lib-cov
coverage
.nyc_output

node_modules
.npm
.node_repl_history
package-lock.json

elm-stuff
public/style.min.css
public/main.js
public/embed.js
public/sw.js
