body {
  margin: 0;
  font-family: var(--sans-serif);
}

.bg-seed-pod {
  background: linear-gradient(90deg, #78C143, #78C143 50%, #71af44 51%, #71af44);
}

.bg-brown {
  background: var(--brown);
}

.bg-seed {
  background: url(img/sunflower.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.pointer {
  cursor: pointer;
}

.all {
  transition-property: all;
}

.ease {
  transition-timing-function: ease;
}

.t3 {
  transition-duration: 0.3s;
}

.scale-half {
  transform: scale(0.5);
}

.scale-full {
  transform: scale(1);
}
