body {
  margin: 0;
  font-family: var(--sans-serif);
}

img {
  max-width: 100%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.ma {
  margin: auto;
}

.no-select {
  user-select: none;
}

.pointer {
  cursor: pointer;
}

.touch-disabled {
  pointer-events: none;
}
